.main-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.main-form__submit,
.main-form__direction
 {
    width: max-content;
}

.error {
    color: red;
    padding: 1rem;
    font-weight: bold;
}
